<div class="row-fluid">
    <div class="span6">
        <div class="well">
            <h3>Get Search Rankings</h3>
            <form class="form-inline">
                <fieldset>
                    <div class="input-append">
                        <input type="text" class="input" id="gQuery"><button class="btn searchQuery">Query</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="span6">
        <div class="well">
            <h3>Query Results</h3>
            <ul class="qResults">
            </ul>
        </div>
    </div>
</div>